import(igraph)
import(network)
import(intergraph)
import(ggraph)
import(ggplot2)
import(ISOcodes)
import(maps)
import(GADMTools)
import(geosphere)
import(stringr)
import(sp)
import(grDevices)
export(plot.spatial.network)
export(get.interactions)